<footer id="footer"  data-theme="dark">
    <div class="top">
		<div class="left" module="Layout_footer">
        	<div class="logo"><a href="/"><img src="/saeroun/img/f_logo.svg"></a></div>
            <div class="info">
            	<ul>
                	<li>
                        <h2>電話番号</h2>
                        <p>{$phone}</p>
                    </li>
                	<li>
                        <h2>住所</h2>
                        <!--<p>{$mall_addr1} {$mall_addr2}</p>-->
                        <p>AriBio Co., Ltd. 56 Dongpangyo-ro, Bundang-gu, Seongnam-si, Gyeonggi-do</p>
                    </li>
                	<li module="Layout_Info">
                        <h2>Eメール</h2>
                        <p>help@herzion.com</p>
                    </li>
                </ul>
            </div>
		</div>
		<div class="right">
        	<ul>
            	<li><a href="/">Home</a></li>
            	<li><a href="/new_subpage/product_page/product_jpn.html">Product</a></li>
            	<li><a href="/new_subpage/technology/technology_jpn.html">Technology</a></li>
                <li><a href="/new_subpage/business/business_jpn.html">Business</a></li>
            	<li><a href="/new_subpage/contact/contact_jpn.html">Contact</a></li>
            	<li><a href="/new_subpage/support/support_jpn.html">Support</a></li>
                <li><a href="/new_subpage/faq/faq_jpn.html" data-text="FAQ">FAQ</a></li>
            </ul>
          <div class="app_download_box">
        <a href="https://apps.apple.com/br/app/%ED%97%A4%EB%A5%B4%EC%A7%80%EC%98%A8/id6463604810" target="_blank" class="store_btn">
          <img src="/new_subpage/layout_new/layout_images/apple_logo.svg" alt="" ></img><span>App Store</span>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.aribio.app.herzion&hl=ko" target="_blank" class="store_btn">
          <img src="/new_subpage/layout_new/layout_images/google_logo.svg" alt="" ></img><span>Google Play</span>
        </a>
      </div>
            
        </div>
    </div>
  <div class="btm">
		<div class="copyright">
                 <a href="https://memorythm.mycafe24.com/audio/policy_en.pdf" target="_blank" style="font-size: 18px; font-weight: 500; color: #fff;" >
          <span>Privacy Policy</span>
        </a>
		<span style="margin:0px 10px;">|</span>
            <span>ⓒ 2025 by AriBio. All Rights Reserved.</span>  
		</div>
        <div class="logo"><a href="/"><img src="/saeroun/img/f_logo.svg" loading="lazy" ez-prevent="img"></a></div>
    </div>
</footer>
<!--#ez="1/8"-->
